.header {
  right: 80px;
  left: 80px;
  padding: 20px 50px;
  z-index: 1000;
  opacity: 0.9;
}

.navbar {
  background: transparent !important;
  border: none !important;
}

.drawer {
  text-align: center;
}

.item {
  border: 0 !important;
  background: transparent !important;
  font-weight: 600;
}
