.header {
  padding: 2vh 3vw;
  z-index: 1000;
  width: 100vw;
  opacity: 0.9;
}

.navbar {
  background: transparent !important;
  border: none !important;
}

.drawer {
  border: none !important;
}

.item {
  border: none !important;
  background: none !important;
  font-weight: 600;
}

.title {
  font-size: 20;
  font-weight: 600;
}

.icon {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
