// dark-theme.less

@import "~antd/lib/style/color/colorPalette.less";
@import "~antd/dist/antd.less";
@import "~antd/lib/style/themes/dark.less";

@primary-color: hsl(206, 75%, 49%);

@text-color: #fff;
@text-color-secondary: rgba(255, 255, 255, 0.8);
@text-color-inverse:rgba(0, 0, 0, 0.87) ;
@heading-color: @text-color;
@text-color-dark: @text-color;
@text-color-secondary-dark: @text-color-secondary;
@text-selection-bg: hsl(162, 100%, 58%);

@border-color-base:rgba(255, 255, 255, 0.3);
@border-color-split: rgba(255, 255, 255, 0.3);

@component-background: #424242;
@body-background: #303030;
@layout-body-background: @component-background;
@layout-header-background: @body-background;
@layout-footer-background: @layout-body-background;
@layout-sider-background: @layout-header-background;
