// dark-theme.less

@import "~antd/lib/style/color/colorPalette.less";
@import "~antd/dist/antd.less";
@import "~antd/lib/style/themes/dark.less";
@import '~antd/dist/antd.dark.css'; // Import the dark theme

// Override the primary color
@primary-color: #1da57a;

// Override the background color
@body-background: #191919;

// Override the text color
@text-color: #fff;

// Override the heading color
@heading-color: #fff;

// Set the border color
@border-color-base: #2f2f2f;

// Set the border radius
@border-radius-base: 4px;
@border-radius-sm: 2px;

// Set the spacing sizes
@padding-lg: 24px;
@padding-md: 16px;
@padding-sm: 12px;
@padding-xs: 8px;

// Set the layout styles
@layout-body-background: #191919;
@layout-header-background: #1c1c1c;
@layout-header-height: 64px;
@layout-footer-background: #1c1c1c;
@layout-footer-height: 48px;
