// dark-theme.less

@import "~antd/lib/style/color/colorPalette.less";
@import "~antd/dist/antd.less";
@import "~antd/lib/style/themes/dark.less";
@import '~antd/dist/antd.dark.css'; // Import the dark theme

// Override the primary color
@primary-color: #1da57a;

// Override the background color
@body-background: #0d1a26;

// Override the text color
@text-color: #fefefe;

// Override the heading color
@heading-color: #fefefe;

// Set the border color
@border-color-base: #0d1a26;

// Set the border radius
@border-radius-base:  12px;
@border-radius-sm:  8px;

// Set the spacing sizes
@padding-lg: 24px;
@padding-md: 16px;
@padding-sm: 12px;
@padding-xs: 8px;

// Set the layout styles
@layout-body-background: #0d1a26;
@layout-header-background: #0d1a26;
@layout-header-height: 64px;
@layout-footer-background: #0d1a26;
@layout-footer-height: 48px;
